<h1> <%= @game.defender.name %> has been struck!</h1>
<h2> <%= @game.defender.name %>'s HP is now <%= @game.defender.hp %>.</h2>

<form action="/play" method="get">
  <input type="submit" value="Next move...!">
</form>
